@import url("file:///home/yahia/.cache/wal/colors-waybar.css");

/* =========================
   BASE
========================= */
* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    color: #cdd6f4;
}

/* =========================
   MAIN BAR
========================= */
window#waybar {
    background: #1e1e2e;
    border-bottom: 1px solid #313244;
}

/* remove spacing chaos */
#waybar > box {
    margin: 0;
    padding: 0;
}

/* =========================
   SEPARATOR (tmux feel)
========================= */
#custom-separator {
    color: #45475a;
    padding: 0 6px;
}

/* =========================
   WORKSPACES (LEFT)
========================= */
#workspaces {
    background: transparent;
    padding: 0 6px;
}

#workspaces button {
    padding: 0 6px;
    margin: 0;
    color: #a6adc8;
    background: transparent;
}

#workspaces button:hover {
    background: #313244;
    color: #cdd6f4;
}

/* ACTIVE WORKSPACE (important) */
#workspaces button.active {
    background: #45475a;
    color: #ffffff;
}

#workspaces button.urgent {
    background: #f38ba8;
    color: #1e1e2e;
}

/* =========================
   CENTER WINDOW TITLE
========================= */
#window {
    color: #cdd6f4;
    opacity: 0.9;
    padding: 0 10px;
}

/* =========================
   RIGHT MODULES (FLAT STATUSLINE)
========================= */
#clock,
#network,
#pulseaudio,
#battery,
#temperature,
#cpu,
#memory,
#custom-notification,
#custom-power,
#custom-system,
#custom-powerprofile {
    background: transparent;
    border: none;
    padding: 0 6px;
    margin: 0;
}

/* hover feedback */
#clock:hover,
#network:hover,
#pulseaudio:hover,
#battery:hover,
#temperature:hover,
#cpu:hover,
#memory:hover,
#custom-notification:hover,
#custom-power:hover,
#custom-system:hover,
#custom-powerprofile:hover {
    background: #313244;
}

/* =========================
   BATTERY STATES
========================= */
#battery.warning {
    color: #f9e2af;
}

#battery.critical {
    color: #f38ba8;
}

#battery {
    min-width: 70px;
}

/* =========================
   POWER ICON
========================= */
#custom-power {
    color: #f38ba8;
}
#custom-notification {
    color: #cdd6f4;
}

