
/* ===== Import design tokens ===== */
@import "colors-dark.css";

/* ===== Base ===== */

* {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 12px;
    min-height: 10px;
    color: @fg;
}

/* ===== Main Bar ===== */

window#waybar {
    background: @bg;
    border-bottom: 1px solid @border;
}

/* ===== Shared Module Style ===== */

#clock,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#tray,
#battery,
#custom-notification,
#window {
    background: @surface;

    margin: 3px 3px;
    padding: 2px 10px;

    border-radius: 11px;

    border: 1px solid @border;

    color: @fg;
}

/* ===== Window Title ===== */

#window {
    padding-left: 12px;
    padding-right: 12px;
    color: @fg;
}
#workspaces {
    margin: 3px 5px;
    background: @surface-alt;
    border-radius: 12px;
    padding: 1px;
}

#workspaces button {
    padding: 0 10px;
    margin: 0 2px;

    border-radius: 9px;

    color: @fg-soft;
}

#workspaces button.active {
    background: rgba(154,147,201,0.22);
    border: 1px solid rgba(154,147,201,0.30);

    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(255,255,255,0.04);
}

/* ===== Tray ===== */

#tray {
    padding-left: 6px;
    padding-right: 6px;
}

/* ===== Tooltip ===== */

tooltip {
    background: @bg;

    border-radius: 10px;

    border: 1px solid @border;

    color: @fg;
}
