window {
    margin: 0px;
    border: 1px solid #313244;
    background-color: #1e1e2e;
}

#input {
    margin: 0px;
    border: none;
    border-bottom: 1px solid #313244;
    background-color: #1e1e2e;
    color: #cdd6f4;
    padding: 10px;
}

#inner-box {
    margin: 0px;
    border: none;
    background-color: #1e1e2e;
}

#outer-box {
    margin: 0px;
    border: none;
    background-color: #1e1e2e;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    color: #cdd6f4;
    padding: 6px;
}

#entry {
    padding: 6px;
    margin: 0px;
    border: none;
}

#entry:selected {
    background-color: #313244;
    color: #ffffff;
}

#entry:hover {
    background-color: #313244;
}
