/**
 *
 * Author : Levi Lacoss (fishyfishfish55)
 * Github : @fishyfishfish55
 *
 * Colors
 **/

* {
    background-color: #1a1b26cc;
    background:     #15161EFF;
    background-alt: #1A1B26FF;
    foreground:     #C0CAF5FF;
    selected:       #A9B1D6FF;
    active:         #414868FF;
    urgent:         #F7768EFF;
    border:         #A9B1D6FF;
}
